body {
  background: url(assets/background/background-espacio.jpg);
}

.galaxia {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.via-lactea {
  width: 50%;
  height: 20vh;
  border-radius: 50%;
  transform: rotate(-20deg);
  position: relative;
  /* transition: orbit 10s ease; */
  animation: orbit-planets 180s linear infinite;
  transform: matrix();
}

.galaxia .via-lactea img {
  animation: orbit 8s linear infinite;
  width: 8rem;
}

.via-lactea .tierra {
  position: absolute;
  left: 25%;
}

.via-lactea .marte {
  position: absolute;
  left: 50%;
}

.via-lactea .luna {
  position: absolute;
  left: 75%;
}

.via-lactea .mercurio {
  position: absolute;
  left: 100%;
}

.via-lactea .sol {
  position: absolute;
  top: 40%;
  left: 40%;
  animation: none !important;
}

@keyframes orbit-top {
  from {
    transform: rotate(0deg) translateX(150px);
  }
  to {
    transform: rotate(360deg) translateX(150px);
  }
}

@keyframes orbit-bottom {
  from {
    transform: rotate(0deg) translateX(150px);
  }
  to {
    transform: rotate(360deg) translateX(150px);
  }
}
