body {
  background: url(assets/background/background-espacio.jpg);
}

.galaxia {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
}

.via-lactea {
  width: 80%;
  height: 40vh;
  border-radius: 50%;
  position: relative;
  top: 20%;
}

.galaxia .via-lactea img {
  width: 8rem;
}

.via-lactea {
  position: relative;
  /* transform-style: preserve-3d; */
  animation: rotate 35s linear infinite;
}

.via-lactea img {
  width: 7rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tierra {
  transform: rotateY(0deg) translateZ(200px);
}

.marte {
  transform: rotateY(90deg) translateZ(200px);
}

.luna {
  transform: rotateY(180deg) translateZ(200px);
}

.mercurio {
  transform: rotateY(270deg) translateZ(200px);
}

.sol {
  animation: none !important;
  position: absolute;
  top: 40%;
  left: 40%;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
