:root {
  /* Colors */
  --color-main: #fbf3c3;
  --color-accent: #7b347e;
  --color-neutral: #210535;
  --color-dark: #050505;
  --color-light: #ffffff;

  /* Typography */
  --heading-font: "Inknut Antiqua", serif;
  --body-font: "Open Sans", sans-serif;

  /* Font Size */
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  --font-size-h1: 8rem;

  /* SPACING */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* Layouts */
  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  --standard-transition: 2s ease-in-out;
  --standard-border-radius: var(--spacing-sm);
  --max-width: 85rem;
  --max-width-992px: 45rem;
  --max-width-768px: 40rem;
  --max-width-576px: 30rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  width: 100%;
  height: 100vh;
  background: url(assets/background/background-6.gif);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 80%;
  margin: var(--spacing-md) 0 0 0;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-accent);
  font-size: var(--font-size-md);
  font-weight: 700;
  backdrop-filter: blur(5px);
  box-shadow: var(--standard-box-shadow);
  border-radius: var(--standard-border-radius);
  position: fixed;
  top: 0;
  z-index: 3;
}

nav ul {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li {
  cursor: pointer;
}

nav ul li a {
  color: var(--color-accent);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--color-main);
}

main {
  width: 100%;
  max-width: var(--max-width);
}

h2 {
  font-size: var(--font-size-h1);
  font-family: var(--heading-font);
}
