


body {
    
    background-color: #0a0a0a;
    
    
    color: #ffffff;
    
    
    font-family: 'Arial', sans-serif;
    
    
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
}

.solar-system {
    
    width: 900px; 
    height: 600px;
    position: relative; 
}