* {
  margin: 0;
  padding: 0;
}

.tierra {
  background: url(sky_stars_night_130489_2560x1440.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.tierra::before {
  content: "";
  width: 120%;
  height: 120%;
  background: url(living-planet-earth-4e6ueybd5ba1mkqp-removebg-preview.png)
    center/cover no-repeat;
  position: absolute;
  bottom: -400px;
  left: -900px;
  z-index: 1;
}

.tierra .satelite {
  width: 200px;
  height: 200px;
  filter: opacity(50%);
  transform: scale(8deg);
  position: absolute;
  top: 0;
  right: 40%;
}

.sol {
  background: url(sky_stars_night_130489_2560x1440.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.sol::before {
  content: "";
  width: 80%;
  height: 80%;
  background: url(840_560-removebg-preview.png) center/cover no-repeat;
  position: absolute;
  bottom: -400px;
  left: 25%;
  z-index: 1;
  transform: rotate(30deg);
}

.sol .satelite {
  width: 200px;
  height: 200px;
  filter: opacity(50%);
  transform: scale(8deg);
  position: absolute;
  top: 0;
  right: 0;
}

.marte {
  background: url(sky_stars_night_130489_2560x1440.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}
