* {
  margin: 0;
  padding: 0;
}

.tierra {
  background: url(assets/background-espacio.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.tierra::before {
  content: "";
  width: 600px;
  height: 600px;
  background: url(assets/tierra.png) no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.tierra .satelite {
  background: url(assets/satelite.gif) center/cover no-repeat;
  width: 200px;
  height: 200px;
  filter: opacity(50%);
  position: absolute;
  top: 0;
  right: 40%;
}

.sol {
  background: url(assets/background-espacio.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.sol::before {
  content: "";
  width: 900px;
  height: 900px;
  background: url(assets/sol.png) no-repeat;
  position: absolute;
  bottom: -400px;
  left: 25%;
  z-index: 1;
  transform: rotate(30deg);
}

.sol .satelite {
  background: url(assets/satelite-1.gif);
  width: 200px;
  height: 200px;
  filter: opacity(50%);
  position: absolute;
  top: 0;
  right: 0;
}

.luna {
  background: url(assets/background-espacio.jpg) no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.luna::before {
  content: "";
  width: 500px;
  height: 500px;
  background: url(assets/luna.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(30deg);
}

.luna .satelite {
  background: url(assets/satelite-1.gif);
  width: 200px;
  height: 200px;
  filter: opacity(50%);
  position: absolute;
  top: 0;
  left: 0;
}
