* {
  margin: 0;
  padding: 0;
}

.tierra {
  background: url(assets/background-espacio.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.tierra::before {
  content: "";
  width: 120%;
  height: 120%;
  background: url(assets/tierra.png) center/cover no-repeat;
  position: absolute;
  bottom: -400px;
  left: -900px;
  z-index: 1;
}

.tierra .satelite {
  background: url(assets/satelite.gif) center/cover no-repeat;
  width: 200px;
  height: 200px;
  filter: opacity(50%);
  position: absolute;
  top: 0;
  right: 40%;
}

.sol {
  background: url(assets/background-espacio.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.sol::before {
  content: "";
  width: 80%;
  height: 80%;
  background: url(assets/sol.png) center/cover no-repeat;
  position: absolute;
  bottom: -400px;
  left: 25%;
  z-index: 1;
  transform: rotate(30deg);
}

.sol .satelite {
  background: url(assets/satelite-1.gif);
  width: 200px;
  height: 200px;
  filter: opacity(50%);
  position: absolute;
  top: 0;
  right: 0;
}

.marte {
  background: url(assets/background-espacio.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}
