:root {
  /* Colors */
  --color-main: #fbf3c3;
  --color-accent: #7b347e;
  --color-neutral: #210535;
  --color-dark: #050505;
  --color-light: #ffffff;

  /* Typography */
  --heading-font: "Inknut Antiqua", serif;
  --body-font: "Open Sans", sans-serif;

  /* Font Size */
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  --font-size-h1: 8rem;

  /* SPACING */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* Layouts */
  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  --standard-transition: 2s ease-in-out;
  --standard-border-radius: var(--spacing-sm);
  --max-width: 85rem;
}

/* Estilos generales */

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: url(assets/background/background-espacio.jpg);
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
}

nav {
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: var(--standard-box-shadow);
  position: fixed;
  top: 0;
  z-index: 3;
}

nav ul {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li {
  cursor: pointer;
}

main {
  width: 100%;
  max-width: var(--max-width);
}

h2 {
  font-size: var(--font-size-h1);
  font-family: var(--heading-font);
}

/* Tierra */

.meteorito {
  width: 120px;
  height: 120px;
  position: absolute;
  animation: vuelo-meteorito 5s ease-in-out forwards;
  z-index: 2;
}

.planet {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet h2 {
  color: var(--color-main);
}

.planet-info {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planet-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 calc(var(--spacing-xl) * -2) 0;
}

.planet-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.planet-img img {
  width: 30%;
  z-index: 1;
}

.planet-about {
  margin: var(--spacing-lg) 0;
}

.planet .satelite {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Sol */

.sol {
  width: 100%;
  height: 100vh;
  position: relative;
}

.sol h2 {
  color: var(--color-main);
}

.sol .sol-info {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.sol-left {
  width: 40%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sol .sol-img {
  width: 80%;
  z-index: 1;
}

.sol-right {
  width: 60%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.sol .satelite {
  width: 150px;
  height: 150px;
  filter: opacity(50%);
  position: absolute;
  top: 0;
  right: 0;
}

.asteroide {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: rotate(220deg);
  animation: vuelo-asteroide 35s infinite linear;
  z-index: 1;
}

/*Luna */

.luna {
  width: 100%;
  height: 100vh;
  position: relative;
}

.luna h2 {
  color: var(--color-main);
}

.luna .luna-info {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.luna-left {
  width: 60%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.luna-right {
  width: 40%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.luna .satelite {
  width: 150px;
  height: 150px;
  filter: opacity(50%);
  position: absolute;
  top: 0;
  right: 0;
}

/* Tripulation */

.tripulation {
  width: 100%;
  min-height: 50vh;
  display: flex;

  margin: var(--spacing-xl) 0;
}

.team-members {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: var(--standard-border-radius);
  width: 25%;
  min-height: 15vh;
  margin: 0 var(--spacing-xs);
}

@keyframes vuelo-meteorito {
  0% {
    transform: translate(
      calc(var(--spacing-xl) * -15),
      calc(var(--spacing-xl) * -6)
    );
  }
  100% {
    transform: translate(100vw, 120vh);
    display: none;
  }
}

@keyframes vuelo-asteroide {
  0% {
    transform: translate(calc(var(--spacing-xl) * -6), 0) rotate(200deg);
  }
  50% {
    transform: translate(100vw, 30vh);
  }
  100% {
    display: none;
    transform: translate(90vw, 10vh) rotate(300deg);
  }
}
